<%- include('header'); %>

        <header>
            <h1 id="start-header"><i class="fa-solid fa-hat-wizard"></i> About Us <i class="fa-solid fa-hat-wizard"></i></h1>
        </header>
        <hr>
        <div class="row">
            <div class="card text-center mb-3 col" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Nikhil Pellakuru</h5>
                    <p class="card-text">
                        Coder for 8 years specializing in:
                        <ul>
                            <li>Data Visualization</li>
                            <li>Front-End Web Development</li>
                            <li>Game Development With Python</li>
                            <li>Robotics with Arduino</li>
                            <li>Graphical User Interfaces</li>
                            <li>Artificial Intelligence With OpenAI</li>
                        </ul>
                        <br>
                        I'm currently taking UC Scout's AP CSP Course (which is surprisingly easy).
                        
                    </p>
                    <a href="https://github.com/nikrp" target="_blank"><i class="fa-brands fa-square-github fa-2xl" style="color:black;"></i></a>
                    <a href="https://www.instagram.com/nikhil_ca/" target="_blank"><i class="fa-brands fa-square-instagram fa-2xl" style="color:black;"></i></a>
                </div>
            </div>
            <div class="card text-center mb-3 col" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Yash Maheshwari</h5>
                    <p class="card-text">
                      Coder for 8 years specializing in:
                      <ul>
                        <li>Artificial Intelligence</li>
                        <li>Graphical User Interface</li>
                        <li>Game Development</li>
                        <li>Web Development</li>
                        <li>App Development</li>
                        <li>Commenced CS50(Harvard)</li>
                        <li>Commenced CMU's 15-112 Course</li>
                      </ul>
                    </p>
                    <a href="https://github.com/yashmahe2020"><i class="fa-brands fa-square-github fa-2xl" style="color:black;"></i></a>
                </div>
            </div>
            <div class="card mb-3 col" style="width: 18rem; text-align: justify;">
                <div class="card-body ">
                    <h5 class="card-title">Aarav Juneja</h5>
                    <ul class="card-text">
                      <li>Completed CS50 and CS50AI courses from Harvard.</li>
                      <li>Proficient in web development technologies, including MongoDB, Node.js, Express.js, HTML, CSS, and JavaScript.</li>
                      <li>Experienced in mobile development using React Native for cross-platform applications.</li>
                      <li>Skilled in native Android development using Kotlin.</li>
                      <li>Proficient in native iOS development using Swift.</li>
                      <li>Highly skilled in Python for various backend and data processing tasks.</li>
                      <li>Successfully developed and deployed numerous web and mobile projects.</li>
                      <li>Demonstrated ability to build responsive and dynamic applications across different platforms.</li>
                      <li>Committed to continuous learning and staying up-to-date with the latest advancements in the field.</li>
                      <li>Passionate about creating innovative and user-friendly applications.</li>
                    </ul>
                    Note: The above was generated with ChatGPT.
                </div>
            </div>
        </div>
        
<%- include('footer'); %>