<%- include('header'); %>

        <header>
            <h1 id="start-header"><i class="fa-solid fa-hat-wizard"></i> About Us <i class="fa-solid fa-hat-wizard"></i></h1>
            <p class="text-center">
                Quizzard was made by Yash Maheshwari, Aarav J, and Nickle!
            </p>
        </header>
        <hr>
        
<%- include('footer'); %>