<%- include('header'); %>

<header>
    <h1 id="start-header"><i class="fa-solid fa-hat-wizard"></i> Features <i class="fa-solid fa-hat-wizard"></i></h1>
    <p id="welcome">
        Quizzard has a variety of features to help you learn. Throughout each quiz, you will recieve hints and explanations when needed.
        Our scoring system considers the amount of tries and the time you take for each question. See our scoring page for more info about
        types of answers, color coding, and scores. 
    </p>
</header>
<hr>

<%- include('footer'); %>