<%- include('header'); %>

<header>
    <h1 id="start-header"><i class="fa-solid fa-hat-wizard"></i>Quizzard<i class="fa-solid fa-hat-wizard"></i></h1>
    <p id="welcome">
        Welcome to the Quizzard! Quizzard is a quiz app created for students in 6th through 12th grade. Test your knowledge
        with our diverse set of questions and get expert explanations, scoring, and feedback. Take the same test again but
        with different questions! To begin, just click a dropdown below and select your desired subject. Run through the quiz till
        the end to see your results. You get two tries for each question. <span class="text-success">Green</span> circles signify a correct answer on the first try, 
        <span class="text-warning">yellow</span> circles signify a correct answer on the second try, and <span class="text-danger">red</span> circles signify a wrong answer on both tries. While 
        going through the quiz, you will recieve AI generated hints and explanations. Have fun quizzing! Select the green start quizzing button
        in the navigation to begin your quiz.
    </p>
</header>
<hr>
<i class="fa-brands fa-square-github fa-2xl" href="#"></i>
<img src="devpost" alt="Devpost Logo" href="#">

<%- include('footer'); %>