<%- include('header'); %>
<div>
    <h1 id="start-header"><i class="fa-solid fa-hat-wizard"></i>Select a Subject<i class="fa-solid fa-hat-wizard"></i></h1>
</div>

<div class="d-flex justify-content-center" id="dropdown">
    <div class="d-flex justify-content-center flex-grow-0">
        <div class="col">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Math
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" value="grade6_math">6th Grade</a></li>
                    <li><a class="dropdown-item" href="#" value="grade7_math">7th Grade</a></li>
                    <li><a class="dropdown-item" href="#" value="grade8_math">8th Grade</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#" value="algebra1">Algebra</a></li>
                    <li><a class="dropdown-item" href="#" value="geometry">Geometry</a></li>
                    <li><a class="dropdown-item" href="#" value="algebra2">Algebra 2</a></li>
                    <li><a class="dropdown-item" href="#" value="trigonometry">Trigonometry</a></li>
                    <li><a class="dropdown-item" href="#" value="precalculus">Pre-Calculus</a></li>
                    <!-- <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">AP Statistics</a></li>
                    <li><a class="dropdown-item" href="#">AP Calculus AB</a></li>
                    <li><a class="dropdown-item" href="#">AP Calculus BC</a></li> -->
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        History
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" value="grade6_history">6th Grade</a></li>
                        <li><a class="dropdown-item" href="#" value="grade7_history">7th Grade</a></li>
                        <li><a class="dropdown-item" href="#" value="grade8_history">8th Grade</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#" value="grade9_history">9th Grade</a></li>
                        <li><a class="dropdown-item" href="#" value="grade10_history">10th Grade</a></li>
                        <li><a class="dropdown-item" href="#" value="grade11_history">11th Grade</a></li>
                        <li><a class="dropdown-item" href="#" value="grade12_history">12th Grade</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#" value="AP_US_history">AP US History</a></li>
                        <li><a class="dropdown-item" href="#" value="AP_world_history">AP World History</a></li>
                        <li><a class="dropdown-item" href="#" value="AP_european_history">AP European History</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Science
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" value="grade6_science">6th Grade</a></li>
                    <li><a class="dropdown-item" href="#" value="grade7_science">7th Grade</a></li>
                    <li><a class="dropdown-item" href="#" value="grade8_science">8th Grade</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#" value="biology">Biology</a></li>
                    <li><a class="dropdown-item" href="#" value="chemistry">Chemistry</a></li>
                    <li><a class="dropdown-item" href="#" value="physics">Physics</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#" value="AP_biology">AP Biology</a></li>
                    <li><a class="dropdown-item" href="#" value="AP_chemistry">AP Chemistry</a></li>
                    <li><a class="dropdown-item" href="#" value="AP_physics">AP Physics</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        English
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" value="grade6_english">6th Grade</a></li>
                        <li><a class="dropdown-item" href="#" value="grade7_english">7th Grade</a></li>
                        <li><a class="dropdown-item" href="#" value="grade8_english">8th Grade</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#" value="grade9_english">English 9</a></li>
                        <li><a class="dropdown-item" href="#" value="grade10_english">English 10</a></li>
                        <li><a class="dropdown-item" href="#" value="grade11_english">English 11</a></li>
                        <li><a class="dropdown-item" href="#" value="grade12_english">English 12</a></li>
                        <!-- <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="#">AP English Language and Composition</a></li>
                        <li><a class="dropdown-item" href="#">AP English Literature and Composition</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="success" class="alert alert-success">
    <!-- Some message if they succed -->
    You got it correct!
    <button id="next" class="btn btn-primary">Next</button>
</div>
<div id="fail" class="alert alert-danger">
    <!-- Some message if they fail and to try again -->
    That's not the correct answer. Try again
</div>
<div id="force_next" class="alert alert-danger">
    You failed! Try the next question <button id="next2" class="btn btn-outline-dark">Next</button>
</div>
<div id="spinner">
    <iframe src="https://giphy.com/embed/3oEjI6SIIHBdRxXI40" width="100" height="100" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <!--<p>
        <a href="https://giphy.com/gifs/mashable-3oEjI6SIIHBdRxXI40">via GIPHY</a>
    </p>-->
</div>
<div class="d-flex justify-content-center">
    <div>
        <h2 id="title"></h2>
        <div id="inputQuestions">
            <input type="text" placeholder="Enter the answer here" id="answer">
            <input type="button" value="Submit" id="submit" class="btn btn-outline-primary">
        </div>
        <div id="multipleChoiceQuestions">
            <div id="multipleChoiceQuestionsOptions">
        
            </div>
            <input type="button" value="Submit" id="submit2" class="btn btn-outline-primary">
        </div>
    </div>

    <div class="card text-bg-light mb-3" style="max-width: 28rem;" id="ai_section">
        <div class="card-header">AI Response</div>
        <div class="card-body">
            <h5 class="card-title">Help from an AI</h5>
            <p class="card-text" id="ai_response"></p>
        </div>
    </div>
</div>

<div id="score_symbols">
    <h4>Score: <span id="score">0</span></h4>

</div>

<audio controls style="display: none" id="successAudio">
    <source src="success.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<%- include('footer'); %>